<div class="container centered">
  <mat-card>
    <mat-card-title>List of timeslots</mat-card-title>
    <mat-card-content>
      <table class="table table-bordered">
        <tr>
          <th>Tennis player</th>
          <th>Tennis court</th>
          <th>Date of reservation</th>
          <th>Time of reservation</th>
          <th>Duration</th>
          <th></th>
        </tr>
        <tr *ngFor="let timeslot of timeslots | async">
          <td>{{getTennisPlayer(timeslot.tennisPlayerId)}}</td>
          <td>{{getTennisCourt(timeslot.tennisCourtId)}}</td>
          <td>{{timeslot.dateOfReservation}}</td>
          <td>{{timeslot.timeOfReservation}}</td>
          <td>{{timeslot.duration}}</td>
          <td class="right-align-buttons"><button mat-raised-button color="primary" (click)="onRemoveTimeslot(timeslot)">Remove</button></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <app-add-timeslot (onAdd)="refreshList()"></app-add-timeslot>
</div>
