<mat-card class="centered">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" [(ngModel)]="username" required pattern="[a-z0-9]{1,8}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" required pattern="[a-zA-Z0-9]{1,8}">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
