<div class="container centered">
  <mat-card>
    <mat-card-title>Welcome to our site</mat-card-title>
    <mat-card-content>
      This famous site is intended primarily for tennis players, but also for other interested users.
      <br>
      <br>
      Working time:
      <ul>
        <li>On weekdays: 18:00-23:00 hours</li>
        <li>On weekends: 17:00-22:00 hours</li>
      </ul>
      <br>
      The tennis scheduler offers you an overview of the personal data of all tennis players.
      This includes name, surname, date of birth and email address.
      This information is available to all users of the site within the list of tennis players.
      There is also a list of tennis courts, as well as a list of timeslots that are available to everyone.
      The list of timeslots contains information about reservations. These include tennis player, tennis court, date of reservation, time of reservation and duration of reservation.
      There is a possibility for the tennis player to personally schedule an appointment or for someone else to do it for him.
      Also, each user is allowed to add a new tennis player to the list.
    </mat-card-content>
  </mat-card>
</div>
